<!DOCTYPE html>
<html>
    <head>
        <title>El blog del Tomi </title>
    </head>
    <body>
        <header>    
            <h1><a href="/">El Blog del Tomi</a></h1>
        </header>
        
        <article>
            <time> published: 04.05.2022, 00:30</time> 
            <h2><a href="">Primer Articulo: Cómo ser rico siendo pobre.</a></h2>
            <p> Ser adicto al juego no es un problema, es una salvación. <br>No se puede ganar sin antes perder todos tus ahorros.</p>
         </article>
        
        
        
        
        
        
        
        
        
    </body>
</html>
