<!DOCTYPE html>
<html>
    <head>
        <title>Primera Aplicación</title>
    </head>
    <body>
        <header>    
            <h1><a href="/">Primera Aplicación</a></h1>
        </header>
        
        <article>
            <time> published: 04.05.2022, 00:30</time> 
            <h2><a href="">Primer Articulo</a></h2>
            <p>Idea revolucionaria en desarrollo</p>
         </article>
        
        
        
        
        
        
        
        
        
    </body>
</html>
